
*{
    margin: 0%;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(159, 37, 234);
}

h1{
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(232, 131, 217);
    text-align: center;
}
span{
    color:rgb(41, 195, 187);
}

.instrument-box{
    height: 80vh;
    width: 90vw;
    border: 2px solid black;
    border-radius: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(104, 30, 194);
}

button{
    height: 35vh;
    width: 35vh;
    margin: 0 .5rem 0 .5rem;
    border: 2px solid black;
    border-radius: 2rem;
    font-size: 5rem;
    text-align:end;
    color:rgba(45, 40, 40, 0.5);
    
}



.crash{
    background-image: url(./images/crash.png);
    background-size: cover;

}
.kick-bass{
    background-image: url(./images/kick.png);
    background-size: cover;
}
.snare{
    background-image: url(./images/snare.png);
    background-size: cover;
}
.tom1{
    background-image: url(./images/tom1.png);
    background-size: cover;
}
.tom2{
    background-image: url(./images/tom2.png);
    background-size: cover;
}
.tom3{
    background-image: url(./images/tom3.png);
    background-size: cover;
}
.tom4{
    background-image: url(./images/tom4.png);
    background-size: cover;
}

.pressed{
    opacity:.3;
    border: 3px solid yellow;
}


